<header id="amz-header">
    <div class="amz-container am-cf">
        <h1>
            <a href="$app1Link.setTarget('home.vm').addQueryData('userId', $user.userId)">
        </h1>
##        <button class="am-btn am-btn-primary am-show-sm-only" data-am-collapse="{target: '.amz-header-nav'}">
##            <span class="am-sr-only">导航切换</span>
##            <span class="am-icon-bars"></span>
##        </button>
        <nav>
            <ul class="amz-header-nav am-collapse am-topbar-left" style="font-family: 'Syncopate', cursive;text-transform: uppercase;">
                <li value="home"><a href="$app1Link.setTarget('home.vm').addQueryData('userId', $user.userId)" style=>Home</a></li>
##                <li value="algorithm_new"><a href="$app1Link.setTarget('algorithmNew.vm')">New+</a></li>
                <li value="user_info"><a href="$app1Link.setTarget('UserInfo.vm')">Profile</a></li>
                <li><a href="$app1Link.setTarget('login.vm')">Exit</a></li>
            </ul>
        </nav>

    </div>
</header>

<span id="hero">
    <div id="hero-carousel-images" style="background-color: #9d8b79">
       <div class="hero-image background-video is--active" style="background-image:url('$!assetsContent.getURI("i/background/zise.jpg")'); background-color: rgb(157, 139, 121);">
           <img data-src="$!assetsContent.getURI('i/background/seth-1920.jpg')"
                data-image="$!assetsContent.getURI('i/background/seth-1920.jpg')"
                data-image-dimensions="2560x1440"
                data-image-focal-point="0.5,0.5"
                alt="pages_product_poster.png"
                data-load="false"
                src="$!assetsContent.getURI('i/background/seth-1920.jpg')"
                style="display: none;">
##           <video autoplay="true" autobuffer="true" loop="true" preload="true"
##                  poster="$!assetsContent.getURI('i/pages_product_poster.png')">
##               <source src="$!assetsContent.getURI('video/pages_product.webm')" type="video/webm">
##               <source src="$!assetsContent.getURI('video/pages_product.mp4')" type="video/quicktime">
##           </video>
       ##          视频上面的黑色半透明阴影
           <div class="scrim"></div>
       </div>
    </div>

    <div id="hero-carousel-content">
        Data processing
    </div>
</span>

