<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    #showHead (" Nice Spark")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" contenxt="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/image/homeLogo@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="icon" type="image/png" href="assets/image/homeLogo.png">

    <!-- Add to homescreen for Chrome on Android -->
    <link rel="icon" sizes="192x192" href="assets/image/homeLogo@2x.png">

    <link rel="apple-touch-icon-precomposed" href="assets/image/homeLogo@2x.png">

##    添加谷歌提供google Fonts
    <link href='https://fonts.googleapis.com/css?family=Syncopate|League+Script' rel='stylesheet' type='text/css'>

##    <link rel="stylesheet" href="$assetsContent.getURI('myCss/myfooter.css')">
##    <link rel="stylesheet" href="$assetsContent.getURI('myCss/login.css')">
    <!--[if lt IE 9]>
    <script src="$assetsContent.getURI('js/jquery1.11.1.min.js')"></script>
    <script src="$assetsContent.getURI('js/modernizr.js')"></script>
    <script src="$assetsContent.getURI('js/polyfill/rem.min.js')"></script>
    <script src="$assetsContent.getURI('js/polyfill/respond.min.js')"></script>
    <script src="$assetsContent.getURI('js/amazeui.legacy.js')"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="$assetsContent.getURI('js/jquery.min.js')"></script>
    <script src="$assetsContent.getURI('js/amazeui.min.js')"></script>

</head>

<body #bodyAttributes () style="background-color: #f2f2f2;">
    $screen_placeholder
</body>

##<footer class="footer am-u-lg-6 am-u-md-8 am-u-sm-centered" style="margin-top: 20px" >
##    <p>@ 2015 Licensed under DLUT license.</p>
##</footer>
</html>
